$custom-text-color: rgb(107, 121, 137);
$custom-list-hover-bgcolor: #ddd;
$custom-bg-color: #f5f5f5;
$input-bg-color: #f3f3f3;
$red: #fe5151;
$custom-main-color: #fff;
$light-blue: #6ac3ef;
$bold-weight: 700;
$fontFamily: "Roboto", sans-serif;
